<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>

  <body>
    <h1>Hello from HTML!</h1>

    <div id="app">
      <div>
        {{ message }}
        <button v-on:click="reverseMessage">Reverse Message</button>
        <p>{{ message1 }}</p>
        <input v-model="message1" />
      </div>

      <br />
      <p v-if="hidden">Now you can see me.</p>
      <button v-on:click="seeMessage">See message</button>
      <div>
        <p v-for="todo in todos">{{ todo.text }}</p>
      </div>
      <br />
      <div>
        <h3 v-for="word in words">{{ word }}</h3>
        <input type="text" v-model="newWord" />
        <button v-on:click="addWord()">Add Word</button>
      </div>
    </div>
  </body>
</html>
